<!-- Use 2 way binding without forms use [(ngModel)]="data" to get and set the new post  -->
<!-- To use binding when using a form use ngModel="" and use a named input-->
<!-- Access values in form use a local referene using: #postForm -->

<mat-card class="mat-card">
  <form (submit)="onCreatePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input placeholder="Post Title" class="textInput" matInput rows="6" name="title" required #title="ngModel"
        ngModel>
      <mat-error *ngIf="title.invalid">Post title required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea placeholder="Add Post" matInput name="content" type="text" required #content="ngModel" ngModel></textarea>
      <mat-error *ngIf="content.invalid">Post content required</mat-error>
    </mat-form-field>
    <button color="accent" mat-raised-button type="submit">
      Add Post
    </button>
  </form>
</mat-card>
